// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import "~vue2-editor/dist/vue2-editor.css";


@import 'dashboard/index';
@import 'dashboard/forms';

body {
    position: relative;
}

main {
    padding: 0px 2rem !important;
    margin: 30px;
}

.slide, .slick-list, .slick-track, .slick-slide div {
    height: 100%;
}

.main-container {
    @media (max-width: 980px) {
        flex-wrap: wrap;
    }
}
